body {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url("/img/jkp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight:bolder;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #69266a;
  font-family: "Questrial", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}

#stores-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

#stores-list li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 30px 30px;
  font-size: 18px;
  text-align: center;
  list-style: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
}

#stores-list li:hover {
  background-color: #e0cce1;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#stores-list li:hover {
  color: transparent;
}

#stores-list li::after {
  content: "Visit Website";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #2e2e2e;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#stores-list li:hover::after {
  opacity: 1;
}
