body {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url("/img/jkp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 200px;
  font-weight: normal;
  margin: 0;
  padding: 50px;
  padding-top: 5px;
  color: #914793;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

#stores-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #b473b6;
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

#stores-list li {
  background-color: #000000;
  border: 1px solid #000000;
  padding: 30px 30px;
  font-size: 18px;
  text-align: center;
  list-style: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
}

#stores-list li:hover {
  background-color: #7d5280;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #4a2b4d;
}

#stores-list li::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #1d1d1d;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#stores-list li:hover::after {
  opacity: 1;
}

#stores-list li a {
  text-decoration: none;
  color: inherit;
}

#stores-list li a:hover {
  color: inherit;
}
